/*头部*/
html,body{overflow:hidden;overflow-y:auto;}
.my-box {

}

header {
    width: 100%;
    height: .6rem;
    background-image: linear-gradient(90deg,
    #169fe3 0%,
    #526ee1 26%,
    #8d3cde 52%,
    #bd37c2 80%,
    #ec32a5 100%);
    overflow: hidden;
    font-size: 0.18rem;
}


.hea li {
    float: left;
}

.hea {
    width: 100%;
    position: relative;
}

.icon1 {
    width: 0.175rem;
    height: 0.16rem;
    margin-left: .22rem;
    margin-top: .23rem;
}

.icon2 {
    width: 0.175rem;
    height: 0.2rem;
    margin-top: .2rem;
    margin-left: .28rem;

}

header p {

    width: 0.33rem;
    height: 0.02rem;
    margin-top: -.05rem;
    background-color: #ec32a5;
    display: none;

}

.hea li .a {

    margin-left: .1rem;


}

.hea li {
    text-align: center;
}

.hea li:nth-of-type(2) {
    margin-top: .08rem;
    margin-left: .3rem;
}

.hea li:nth-of-type(3) {
    margin-top: .08rem;
    margin-left: .3rem;
}

.hea li:nth-of-type(4 ) {
    margin-top: .08rem;
    margin-left: .28rem;
}

header a {
    font-family: PingFang-SC-Medium;
    font-weight: normal;
    font-stretch: normal;
    color: #ffffff;
    margin-bottom: .1rem;
    line-height: 0.45rem;
}

.p-tou {
    overflow: hidden;
}

.p-text {
    position: relative;
    left: .75rem;
    top: -.5rem;
}

.p-tou .p-ming {
    font-family: PingFang-SC-Medium;
    font-size: 0.16rem;
    font-weight: bold;
    font-stretch: normal;
    line-height: 0.16rem;
    letter-spacing: 0rem;
    color: #333333;
}

{
    font-family: PingFang-SC-Medium
;
    font-size: 0.11rem
;
    font-weight: bold
;
    font-stretch: normal
;
    line-height: 0.11rem
;
    letter-spacing: 0rem
;
    color: #979797
;
}
.p-tou .p-img1 {
    width: 0.485rem;
    height: 0.485rem;
    margin-top: .11rem;
    margin-left: .17rem;
}

.p-geren .p-img2 {
    width: 0.18rem;
    height: 0.25rem;
    position: relative;
    top: .08rem;

}

.p-xin {
    float: right;
    width: 0.225rem;
    height: 0.18rem;
    margin-top: -.85rem;
    margin-right: .15rem;
}

.p-dian {
    color: red;
    font-size: .25rem;
    position: absolute;
    top: .66rem;
    right: .15rem;
}

.p-xian {
    width: 100%;
    height: 0.01rem;
    background-color: #eee6fd;
    margin-top: -.3rem;
}

/*<!--介绍列表-->*/
.sug-list {
    overflow: hidden;
    margin-top: .1rem;
}

.sug-list li {
    float: left;
    text-align: center;

}

.sug-list li:nth-of-type(1) {
    margin-left: .15rem;
}

.sug-list li:nth-of-type(2) {
    margin-left: .4rem;
}

.sug-list li:nth-of-type(3) {
    margin-left: .4rem;
}

.sug-list li:nth-of-type(4) {
    margin-left: .4rem;
}

.sug-list li:nth-of-type(1) img {
    width: 0.23rem;
    height: 0.23rem;
}

.sug-list li:nth-of-type(2) img {
    width: 0.23rem;
    height: 0.23rem;
}

.sug-list li:nth-of-type(3) img {
    width: 0.19rem;
    height: 0.23rem;
}

.sug-list li:nth-of-type(4) img {
    width: 0.24rem;
    height: 0.23rem;
}

.sug-list li p:nth-of-type(1) {
    font-family: PingFang-SC-Medium;
    font-size: 0.13rem;
    font-weight: bold;
    font-stretch: normal;
    line-height: 0.264rem;
    letter-spacing: 0rem;
    color: #333333;
}

.clo {
    width: 100%;
    height: .2rem;
    background-image: linear-gradient(90deg,
    #169fe3 0%,
    #526ee1 26%,
    #8d3cde 52%,
    #bd37c2 80%,
    #ec32a5 100%);
    margin-top: .08rem;
}

/*<!--介绍列表详情-->*/
.sug-x {
    margin-top: .12rem;
    margin-left: .15rem;
}

.sug-x img {
    width: 1rem;
    height: .75rem;
}
.sug-x li:nth-of-type(2){
    margin-top: -.23rem;
}
.sug-x li:nth-of-type(3){
    margin-top: -.23rem;
}
.sug-x li:nth-of-type(4){
     margin-top: -.23rem;
 }
.sug-x p {
    position: relative;
    left: 1.2rem;
    top: -.8rem;
}
.sug-x p:nth-of-type(1){
    font-family: PingFang-SC-Medium;
    font-size: 0.14rem;
    font-weight: bolder;
    font-stretch: normal;
    line-height: 0.288rem;
    letter-spacing: 0rem;
    color: #333333;
}
.sug-x p:nth-of-type(2){
    font-family: PingFang-SC-Medium;
    font-size: 0.14rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 0.336rem;
    letter-spacing: 0rem;
    color: #666666;
}
.sug-x li .g-pic img{
    width: 0.16rem;
    height: 0.21rem;
    position: relative;
    top:.05rem;
}
.sug-x li .g-pic{
    float: right;
    margin-top: -1.2rem;
    font-family: PingFang-SC-Regular;
    font-size: 0.14rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 0.336rem;
    letter-spacing: 0rem;
    color: #999999;
}

/*底部*/

.btom {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 0;
    margin-top: .2rem;
    height: .5rem;
    width: 100%;
    background: url("../img/index/bcd-color@2x.png") no-repeat;
    background-size: cover;
    color: white;
}

.botm_icon {
    position: relative;
    font-size: .1rem;
    width: 1.8rem;
}

.botm_icon img {
    margin-top: .1rem;
    margin-left: .2rem;
    height: .35rem;
}

.botm_icon .song {
    position: absolute;
    top: .12rem;
    left: .65rem;
}

.botm_icon .songs {
    position: absolute;
    top: .28rem;
    left: .65rem;
}

.icon_ {
    margin-right: .16rem;
}

.icon_ img {
    height: .22rem;
}

.stop {
    padding-right: .08rem;
}

.play {
    height: .23rem;
    width: .22rem;
    display: none;
    margin-right: .1rem;
}

/*侧边栏*/
.my-box {
    position: relative;
}

.in1 {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    /*background-color: #cccccc;*/
    /*opacity: 0.6;*/
    display: none;
}

.in-tou {
    width: 1rem;
    height: 1rem;
    margin-left: 35%;
    margin-top: .53rem;
}

.in-list {
    width: 82%;
    height: 101%;
    background: white;
    position: absolute;
    top: 0px;
    z-index: 999;
    display: none;
}

.tou-text {
    font-family: PingFang-SC-Medium;
    font-size: 0.15rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0rem;
    color: #333333;
    margin-left: 30%;
    margin-top: 5%;
}

.tou-text img {
    width: 0.385rem;
    height: 0.15rem;
}

.tou-s {
    width: 100%;
    font-family: PingFang-SC-Medium;
    font-size: 0.23rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0rem;
    color: #333333;
    margin-top: .205rem;
}

.tou-s span:nth-of-type(1) {
    margin-left: .3rem;
}

.tou-s span:nth-of-type(2) {
    margin-left: .62rem;
}

.tou-s span:nth-of-type(3) {
    margin-left: .45rem;
}

.tou-z {
    font-family: PingFang-SC-Medium;
    font-size: 0.12rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0rem;
    color: #666666;

}

.tou-z span:nth-of-type(1) {
    margin-left: .3rem;
}

.tou-z span:nth-of-type(2) {
    margin-left: .7rem;
}

.tou-z span:nth-of-type(3) {
    margin-left: .58rem;
}

.tou-b {
    width: 100%;
    height: 0.01rem;
    background-color: #e8e8e8;
    margin-top: .14rem;
}

.cb-list {
    margin-top: .12rem;

}

.cb-list p {
    margin-top: .15rem;
    height: .2rem;

}

.cb-list img {
    width: 0.19rem;
    height: 0.17rem;
    margin-left: .14rem;


}

.cb-list span {
    font-family: PingFang-SC-Medium;
    font-size: 0.13rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0rem;
    color: #333333;
    margin-left: .13rem;
    position: relative;
    top: -.04rem;

}

.cb-list-a {
    font-family: PingFang-SC-Medium;
    font-size: 0.10rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0rem;
    color: #b4b4b4;
    margin-left: .1rem;
}

.cb-list1 {
    margin-top: .12rem;

}

.cb-list1 p {
    margin-top: .15rem;
    height: .2rem;

}

.cb-list1 img {
    width: 0.19rem;
    height: 0.19rem;
    margin-left: .14rem;


}

.cb-list1 span {
    font-family: PingFang-SC-Medium;
    font-size: 0.13rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0rem;
    color: #333333;
    margin-left: .13rem;
    position: relative;
    top: -.04rem;

}

.cb-btu img:nth-of-type(1) {
    width: 0.21rem;
    height: 0.21rem;
    margin-left: .3rem;
    margin-top: .3rem;
}

.cb-btu img:nth-of-type(2) {
    width: 0.21rem;
    height: 0.21rem;
    margin-left: .83rem;
}

.btu-text {
    margin-left: .11rem;
    position: relative;
    top: -.05rem
}




